@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  font-family: 'Noto Sans', 'sans-serif';
}


body {
  background-color: #F1FFFA;
}

.grid {
  width: 300px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #545F66;
  border: 1px solid gray;
  margin: 50px 30px 30px auto;
  border-radius: 5px;
}

.grid div{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 0;
  padding: 0 0;
}

.container {
  display: flex;
}

.container-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px 20px;
}

.tetromino {
  background-color: blue;
  opacity: 0.7;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0.2px solid rgba(0,0,0, 0.5);
}

.mini-grid {
  margin : 0 auto auto 0;
  width : 120px;
  height : 120px;
  background-color: #CED3DC;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.mini-grid div{
  width: 30px;
  height: 30px;
}

#start-button{
  height: 30px;
  width: 110px;
  background-color: #D0F4EA;
  border : 1px solid #FFFFFF;
  font-size: 1.1rem;
  font-family: 'Noto Sans', 'sans-serif';
  border-radius : 5px;
}

h3 {
  color: #545F66;
  font-size : 1.5rem;
}

.title{
  color: #545F66;
  text-align: center;
}